.u-section-1 {
    background-image: url("/img/academicDashboardBack.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 1722px;
}

.u-section-1 .u-list-1 {
    min-height: 632px;
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    grid-template-rows: auto;
    grid-gap: 30px 30px;
    height: auto;
    margin: 218px auto 0;
}

.u-section-1 .u-list-item-1 {
    background-image: none;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-group-1 {
    width: 80px;
    min-height: 80px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
    padding: 0;
}

.u-section-1 .u-text-1 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-3 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-2 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-3 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-item-2 {
    background-image: none;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-group-2 {
    width: 80px;
    min-height: 80px;
    background-size: auto;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
    padding: 0;
}

.u-section-1 .u-text-4 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-5 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-6 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-4 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-5 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-6 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-item-3 {
    background-image: none;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-group-3 {
    width: 80px;
    min-height: 80px;
    background-size: auto;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
    padding: 0;
}

.u-section-1 .u-text-7 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-8 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-9 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-7 {
    font-size: 1rem;
    border-style: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-8 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-9 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-item-3 {
    background-image: none;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-group-3 {
    width: 80px;
    min-height: 80px;
    background-size: auto;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
    padding: 0;
}

.u-section-1 .u-text-7 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-8 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-12 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-7 {
    font-size: 1rem;
    border-style: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-11 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-12 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-item-3 {
    background-image: none;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-group-3 {
    width: 80px;
    min-height: 80px;
    background-size: auto;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
    padding: 0;
}

.u-section-1 .u-text-7 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-8 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-12 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-7 {
    font-size: 1rem;
    border-style: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-14 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-15 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-item-3 {
    background-image: none;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-group-3 {
    width: 80px;
    min-height: 80px;
    background-size: auto;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
    padding: 0;
}

.u-section-1 .u-text-7 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-8 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-12 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-7 {
    font-size: 1rem;
    border-style: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-17 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-18 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-2 {
    min-height: 632px;
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    grid-template-rows: auto;
    grid-gap: 30px 30px;
    height: auto;
    margin: 30px auto 60px;
}

.u-section-1 .u-list-item-7 {
    background-image: none;
}

.u-section-1 .u-container-layout-13 {
    padding: 30px;
}

.u-section-1 .u-group-7 {
    width: 80px;
    min-height: 80px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-14 {
    padding: 0;
}

.u-section-1 .u-text-19 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-20 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-21 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-19 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-20 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-21 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-item-8 {
    background-image: none;
}

.u-section-1 .u-container-layout-15 {
    padding: 30px;
}

.u-section-1 .u-group-8 {
    width: 80px;
    min-height: 80px;
    background-size: auto;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-16 {
    padding: 0;
}

.u-section-1 .u-text-22 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-23 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-24 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-22 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-23 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-24 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-item-9 {
    background-image: none;
}

.u-section-1 .u-container-layout-17 {
    padding: 30px;
}

.u-section-1 .u-group-9 {
    width: 80px;
    min-height: 80px;
    background-size: auto;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-18 {
    padding: 0;
}

.u-section-1 .u-text-25 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-26 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-27 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-25 {
    font-size: 1rem;
    border-style: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-26 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-27 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-item-10 {
    background-image: none;
}

.u-section-1 .u-container-layout-19 {
    padding: 30px;
}

.u-section-1 .u-group-10 {
    width: 80px;
    min-height: 80px;
    background-size: auto;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-20 {
    padding: 0;
}

.u-section-1 .u-text-28 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-29 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-30 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-28 {
    font-size: 1rem;
    border-style: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-29 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-30 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-item-11 {
    background-image: none;
}

.u-section-1 .u-container-layout-21 {
    padding: 30px;
}

.u-section-1 .u-group-11 {
    width: 80px;
    min-height: 80px;
    background-size: auto;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-22 {
    padding: 0;
}

.u-section-1 .u-text-31 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-32 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-33 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-31 {
    font-size: 1rem;
    border-style: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-32 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-33 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

.u-section-1 .u-list-item-12 {
    background-image: none;
}

.u-section-1 .u-container-layout-23 {
    padding: 30px;
}

.u-section-1 .u-group-12 {
    width: 80px;
    min-height: 80px;
    background-size: auto;
    margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-24 {
    padding: 0;
}

.u-section-1 .u-text-34 {
    font-size: 3rem;
    font-family: Kalam;
    font-weight: 400;
    margin: 0 5px;
}

.u-section-1 .u-text-35 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: -54px 0 0 97px;
}

.u-section-1 .u-text-36 {
    font-style: italic;
    margin: 39px 0 0;
}

.u-section-1 .u-btn-34 {
    font-size: 1rem;
    border-style: none;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: 26px auto 0 0;
    padding: 9px 17px 10px 16px;
}

.u-section-1 .u-btn-35 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px auto 0;
    padding: 9px 24px 11px;
}

.u-section-1 .u-btn-36 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -45px 1px 0 auto;
    padding: 9px 25px 11px 23px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1404px;
    }

    .u-section-1 .u-list-1 {
        min-height: 615px;
        margin-top: 171px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-2 {
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-1 {
        padding-right: 14px;
        padding-left: 13px;
    }

    .u-section-1 .u-btn-2 {
        margin-top: -44px;
        margin-right: 73px;
        padding-right: 18px;
        padding-bottom: 10px;
        padding-left: 18px;
    }

    .u-section-1 .u-btn-3 {
        margin-right: 0;
        padding-right: 16px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .u-section-1 .u-text-5 {
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-4 {
        padding-right: 14px;
        padding-left: 13px;
    }

    .u-section-1 .u-btn-5 {
        margin-top: -44px;
        margin-right: 73px;
        padding-right: 18px;
        padding-bottom: 10px;
        padding-left: 18px;
    }

    .u-section-1 .u-btn-6 {
        margin-right: 0;
        padding-right: 16px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .u-section-1 .u-text-8 {
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-7 {
        padding-right: 14px;
        padding-left: 13px;
    }

    .u-section-1 .u-btn-8 {
        margin-top: -44px;
        margin-right: 73px;
        padding-right: 18px;
        padding-bottom: 10px;
        padding-left: 18px;
    }

    .u-section-1 .u-btn-9 {
        margin-right: 0;
        padding-right: 16px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .u-section-1 .u-text-8 {
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-7 {
        padding-right: 14px;
        padding-left: 13px;
    }

    .u-section-1 .u-btn-11 {
        margin-top: -44px;
        margin-right: 73px;
        padding-right: 18px;
        padding-bottom: 10px;
        padding-left: 18px;
    }

    .u-section-1 .u-btn-12 {
        margin-right: 0;
        padding-right: 16px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .u-section-1 .u-text-8 {
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-7 {
        padding-right: 14px;
        padding-left: 13px;
    }

    .u-section-1 .u-btn-14 {
        margin-top: -44px;
        margin-right: 73px;
        padding-right: 18px;
        padding-bottom: 10px;
        padding-left: 18px;
    }

    .u-section-1 .u-btn-15 {
        margin-right: 0;
        padding-right: 16px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .u-section-1 .u-text-8 {
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-7 {
        padding-right: 14px;
        padding-left: 13px;
    }

    .u-section-1 .u-btn-17 {
        margin-top: -44px;
        margin-right: 73px;
        padding-right: 18px;
        padding-bottom: 10px;
        padding-left: 18px;
    }

    .u-section-1 .u-btn-18 {
        margin-right: 0;
        padding-right: 16px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .u-section-1 .u-list-2 {
        min-height: 635px;
        margin-top: 73px;
        margin-bottom: 0;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-20 {
        width: auto;
        margin-right: -29px;
        margin-left: 39px;
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-19 {
        padding-right: 11px;
        padding-bottom: 9px;
        padding-left: 9px;
    }

    .u-section-1 .u-btn-20 {
        margin-top: -43px;
        padding-right: 19px;
        padding-bottom: 9px;
        padding-left: 19px;
    }

    .u-section-1 .u-btn-21 {
        margin-top: -43px;
        margin-right: 0;
        padding: 8px 18px 9px 17px;
    }

    .u-section-1 .u-text-23 {
        width: auto;
        margin-right: -29px;
        margin-left: 39px;
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-22 {
        padding-right: 11px;
        padding-bottom: 9px;
        padding-left: 9px;
    }

    .u-section-1 .u-btn-23 {
        margin-top: -43px;
        padding-right: 19px;
        padding-bottom: 9px;
        padding-left: 19px;
    }

    .u-section-1 .u-btn-24 {
        margin-top: -43px;
        margin-right: 0;
        padding: 8px 18px 9px 17px;
    }

    .u-section-1 .u-text-26 {
        width: auto;
        margin-right: -29px;
        margin-left: 39px;
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-25 {
        padding-right: 11px;
        padding-bottom: 9px;
        padding-left: 9px;
    }

    .u-section-1 .u-btn-26 {
        margin-top: -43px;
        padding-right: 19px;
        padding-bottom: 9px;
        padding-left: 19px;
    }

    .u-section-1 .u-btn-27 {
        margin-top: -43px;
        margin-right: 0;
        padding: 8px 18px 9px 17px;
    }

    .u-section-1 .u-text-29 {
        width: auto;
        margin-right: -29px;
        margin-left: 39px;
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-28 {
        padding-right: 11px;
        padding-bottom: 9px;
        padding-left: 9px;
    }

    .u-section-1 .u-btn-29 {
        margin-top: -43px;
        padding-right: 19px;
        padding-bottom: 9px;
        padding-left: 19px;
    }

    .u-section-1 .u-btn-30 {
        margin-top: -43px;
        margin-right: 0;
        padding: 8px 18px 9px 17px;
    }

    .u-section-1 .u-text-32 {
        width: auto;
        margin-right: -29px;
        margin-left: 39px;
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-31 {
        padding-right: 11px;
        padding-bottom: 9px;
        padding-left: 9px;
    }

    .u-section-1 .u-btn-32 {
        margin-top: -43px;
        padding-right: 19px;
        padding-bottom: 9px;
        padding-left: 19px;
    }

    .u-section-1 .u-btn-33 {
        margin-top: -43px;
        margin-right: 0;
        padding: 8px 18px 9px 17px;
    }

    .u-section-1 .u-text-35 {
        width: auto;
        margin-right: -29px;
        margin-left: 39px;
        font-size: 1.25rem;
    }

    .u-section-1 .u-btn-34 {
        padding-right: 11px;
        padding-bottom: 9px;
        padding-left: 9px;
    }

    .u-section-1 .u-btn-35 {
        margin-top: -43px;
        padding-right: 19px;
        padding-bottom: 9px;
        padding-left: 19px;
    }

    .u-section-1 .u-btn-36 {
        margin-top: -43px;
        margin-right: 0;
        padding: 8px 18px 9px 17px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 2274px;
    }

    .u-section-1 .u-list-1 {
        min-height: 903px;
        grid-template-columns: calc(((100% - 720px) / 2) + 345px) calc(((100% - 720px) / 2) + 345px);
        margin-top: 227px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-btn-2 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-3 {
        margin-bottom: -20px;
        padding-right: 25px;
        padding-left: 24px;
    }

    .u-section-1 .u-btn-5 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-6 {
        margin-bottom: -20px;
        padding-right: 25px;
        padding-bottom: 11px;
        padding-left: 24px;
    }

    .u-section-1 .u-btn-8 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-9 {
        margin-bottom: -20px;
        padding-right: 25px;
        padding-bottom: 11px;
        padding-left: 24px;
    }

    .u-section-1 .u-btn-11 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-12 {
        margin-bottom: -20px;
        padding-right: 25px;
        padding-bottom: 11px;
        padding-left: 24px;
    }

    .u-section-1 .u-btn-14 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-15 {
        margin-bottom: -20px;
        padding-right: 25px;
        padding-bottom: 11px;
        padding-left: 24px;
    }

    .u-section-1 .u-btn-17 {
        margin-right: 0;
    }

    .u-section-1 .u-btn-18 {
        margin-bottom: -20px;
        padding-right: 25px;
        padding-bottom: 11px;
        padding-left: 24px;
    }

    .u-section-1 .u-list-2 {
        min-height: 1094px;
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
        margin-top: 50px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-20 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-23 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-26 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-29 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-32 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-35 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 3670px;
    }

    .u-section-1 .u-list-1 {
        min-height: 1616px;
        grid-template-columns: 100%;
        margin-top: 238px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-list-2 {
        grid-template-columns: 100%;
        margin-top: 39px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-container-layout-13 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-15 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-17 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-19 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-21 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-23 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 3381px;
    }

    .u-section-1 .u-list-1 {
        min-height: 1846px;
        margin-top: 187px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-4 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-7 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-7 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-7 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-7 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-list-2 {
        min-height: 1777px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-19 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-22 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-25 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-28 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-31 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-text-34 {
        font-size: 2.25rem;
    }
}
